.content {
  --background: #f2f2f2;
}

.toolbar {
  --border-color: #f2f2f2;
  --color: #555555;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.foot-tab-bar {
  --border: 1px #f2f2f2 solid;
}

h2 {
  color: #555;
  font-size: 15px;
  height: 35px;
  padding: 0 15px;
  line-height: 35px;
  font-weight: 700;
}
.red{
  color:#e62465; font-weight: 700; font-size: 30px;
}

.list {
  background: none;
  margin-bottom: 10px;
}

.white{
  color: #fff;
}
