.title {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.about {
  font-size: 12px;
  color: #555;
  line-height: 22px;
  padding: 20px;
  margin: 25px 0;

  p {
    text-indent: 2em;
  }
}

.copy-right {
  font-size: 12px;
  color: #555;
  text-align: center;
  line-height: 22px;
}
