.iconfont {
  font-size: 25px;

  &.icon-shouye {
    font-size: 25px;
  }

  &.icon-fankui {
    font-size: 30px;
  }
}

.cart {
  position: relative;
  flex:1;
  .badge {
    position: absolute;
    z-index: 1;
    right: 23px;
    top: 1px;
  }
}
