.cart-null {
  font-size: 14px;
  color: #666;
  padding: 20px 0;
  text-align: center;
  min-height: 150px;
}

.clear-cart {
  font-size: 14px;
  color: #e62465;
}

.product-name {
  font-size: 13px;
  white-space: normal;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #555;
  overflow: hidden;
  max-height: 28px;
  line-height: 23px;
  padding: 0 0 0 15px;
}

.price-box {
  font-size: 12px;
  justify-content: space-between;
  padding-left: 15px;
  color: #555;
}

.price {
  i {
    font-size: 14px;
    font-weight: 700;
    color: #e62465;
  }
}

.list {
  padding-bottom: 60px;
}

.list-item {
  padding: 10px 0;
  border-bottom: 1px #f2f2f2 solid;
  margin: 0 10px;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;

  &:last-child {
    border-bottom: none;
  }
}

.btn {
  font-size: 16px;
  --padding-start: 25px;
  --padding-end: 25px;
  --background: #24ad20;
  --background-activated: #24ad20;
  --color: #fff!important;
}

.foot-price {
  padding: 0 15px;
  color: #555;
  b {
    color: #e62465
  }
}
