.avatar {
  width: 30px;
  height: 30px;
}
.slides{
  width: 100%;
  //margin: 10px 0;
}
.slide {
  //width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
  transform: scale(1);
  border-radius: 5px;
  overflow: hidden;

  &.swiper-slide-active {
    transform: scale(1);
  }
}
.title{margin-top: 10px;}
.item-body{box-shadow: none;--background: #fff;margin: 0 0 10px 0;border-radius: 0;}
.name { height: 66px; overflow: hidden; color:#555; padding: 10px; line-height: 25px;}
.price{padding: 0 10px;}
.old-price{padding: 0 10px; display: block; margin-bottom: 10px; line-height: 25px; color:#acacac
;}
