<ion-header>
    <ion-toolbar class="toolbar">
        <ion-buttons slot="primary" style="margin-right: 15px;">
            <ion-button routerLink="/setting" class="top-icons">
                <span class="iconfont icon-set gay top-btn" style="margin-top: -5px;"></span>
            </ion-button>
            <ion-button routerLink="/message" class="top-icons">
                <span class="iconfont icon-fankui gay top-btn"></span>
            </ion-button>
        </ion-buttons>
        <ion-badge color="danger" class="badge" *ngIf="messageNum > 0">{{messageNum}}</ion-badge>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="user-msg">
        <div class="fl-box">
            <ion-avatar>
                <img src="{{avatar}}" alt="" width="60">
            </ion-avatar>
            <span class="name">{{user?.name}}</span>
        </div>
    </div>
    <ion-list lines="none" class="my-space">
        <ion-item (click)="goToOrders()" detail>
            <span class="iconfont icon-Delistingorders gay"></span>
            <ion-label>我的订单</ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none" class="my-space">
        <ion-item (click)="goToAddress()" detail>
            <span class="iconfont icon-address gay"></span>
            <ion-label>收货地址</ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none" class="my-space">
        <ion-item (click)="goToAbout()" detail>
            <span class="iconfont icon-banbenhao gay"></span>
            <ion-label>关于我们</ion-label>
        </ion-item>
        <ion-item (click)="goToVersion()" detail>
            <span class="iconfont icon-version gay"></span>
            <ion-label>版本</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
